<app-widget-wrapper
  [WidgetOptions]="{
    vScroll: false,
    hScroll: false,
    showHeader: true,
    showFooter: true
  }"
>
  <div Header class="widgetChildItems">Header will comes here</div>
  <div Body class="inheritWidgetSize">
    <button (click)="loadFullBarchart()">
      Click here to load widget on ID:2
    </button>
    <app-bar-chart
      [chartData]="barChartData"
      [chartId]="chartId"
      [chartOptions]="barChartOptions"
      class="inheritWidgetSize"
    >
    </app-bar-chart>
  </div>
  <div Footer class="widgetChildItems">Footer will comes here</div>
</app-widget-wrapper>
